/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.welcome {
    font-size: 30px;
    line-height: 30px;
    font-family: 'Merriweather', serif;
    font-style: italic;
}

.introduce {
    font-size: 40px;
    line-height: 40px;
    font-style: bolder;
    font-family: 'Montserrat', sans-serif;
}

button {
    background-color: rgb(254, 209, 54);
} */